$primary: #1bdd97;
$secondary: #003818;
$white: #ececec;
// $--bs-body-font-family: DMSans-Regular 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
    --bs-body-font-family: "DM+Sans"
}
@import "node_modules/bootstrap/scss/bootstrap"
